<%= simple_form_for(@owner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.simple_fields_for(:custodies) do |custody_fields| %>
      <%= custody_fields.association :dog, collection: Dog.order(:name) %>
      <% if custody_fields.object.persisted? %>
        <%= custody_fields.input :_destroy, as: :boolean %>
      <% end %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :primary_phone %>
    <%= f.input :secondary_phone %>
    <%= f.input :emergency_name %>
    <%= f.input :emergency_phone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
