<p id="notice"><%= notice %></p>
<div class="container" style="text-align: center;">
<h3>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</h3>

<h3>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</h3>

<h3>
  <strong>Dogs Owned:</strong>
</h3>
</div>
<div class="container" style="text-align: center;">
<ul>
  <%= @owner.dogs.order('name').each do |dogs_owned| %>
  <li> <%= link_to dogs_owned.name, dog_path(dogs_owned) %> </li>
  <% end %>
</ul>
</div>
<div class="container" style="text-align: center;">
<p>
  <strong>Street:</strong>
  <%= @owner.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @owner.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @owner.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @owner.zip %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @owner.primary_phone %>
</p>

<p>
  <strong>Secondary phone:</strong>
  <%= @owner.secondary_phone %>
</p>

<p>
  <strong>Emergency name:</strong>
  <%= @owner.emergency_name %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @owner.emergency_phone %>
</p>
</div>
<div class="container" style="text-align: center">
<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
</div>